CREATE TABLE IF NOT EXISTS signals(
id SERIAL PRIMARY KEY,
source TEXT,
title TEXT,
description TEXT,
url TEXT,
created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS topics(
id SERIAL PRIMARY KEY,
topic TEXT,
pattern TEXT,
object TEXT,
score FLOAT,
created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS scripts(
id SERIAL PRIMARY KEY,
topic_id INTEGER,
hook TEXT,
script TEXT,
created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE IF NOT EXISTS videos(
id SERIAL PRIMARY KEY,
script_id INTEGER,
platform TEXT,
url TEXT,
published_at TIMESTAMP
);
